@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bebas+Neue&display=swap');

h1,h2,h3,h4,h5,h6{
     font-family: "BBH Sans Hegarty", sans-serif;
}

p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px; 
}